@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.header {
    background-color: #1F2937;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.left {
    display: flex;
    justify-content: flex-start;
}

.right {
    display: flex;
    justify-content: flex-end;
}


.logo {
    color: white;
    font-weight: 800;
    font-size: larger;
    margin-left: 20px;
}

.two {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    gap: 30px;
}

.three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 20px;
    gap: 50px;
}

.four {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 60px 40px;
}

.blue-card {
    background-color: #3882f6;
    color: white;
    display: flex;
    padding: 30px 100px;
    margin: 100px;
    border-radius: 20px;
    justify-content: space-between;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.quote-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}

.quote-author {
   align-self: flex-end;
   font-weight: bold;
}

.white-text {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.information-header-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.main {
    max-width: 630px;
}

img {
    border-radius: 15%;
}

.image-card {
    max-height: 150px;
    max-width: 200px;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;
}

.white-border {
    border: 2px solid white;
}

.button {
    color: white;
    font-weight: 700;
    width: 130px;
    height: 30px;
    font-family: Roboto, sans-serif;
    border-radius: 8px;
    background: #3882f6;
    padding: 8px 16px;
}

.no-border {
    border: none;
}



.info {
    display: flex;

}

.card {
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    text-align: center;
    gap: 15px;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    padding: 20px;
}
